<template name="projects">

  {{>userProfile}}
  <p class="content-padded">
    <h4 class="stitle">
      Ongoing/Upcoming Projects
    </h4>
    <div class="card">
      <ul class="table-view">
        {{#each projects}}
        <li class="table-view-cell">
          <a href="/projectDetails/{{project_id}}" class="push-right" data-ignore="push">
            <strong>{{project_title}}</strong>
            <p>
              {{company_name}}
            </p>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </p>

</template>
