<template name="projectDetails">

  <p class="content-padded pushContent">
    <h4 class="stitle">
      {{title}}
    </h4>
    <div class="sCard card">
      <p class="detail">
        <span>ID:</span> {{id}}
        <br />
        <span>Description:</span> {{description}}
        <br />
        <span> Company:</span> {{company}}
        <br />
        <span> POC Name:</span> {{pocName}}
        <br />
        <span> POC Contact:</span> {{pocContact}}
      </p>
    </div>
  </p>

</template>
