<template name="recordWorkHours2">

  <p class="content-padded pushContent">
    <h4 class="stitle">
      Record Work Hours
    </h4>
    <div class="sCard card">

      <form id="recordWorkHours2">
        <table>
          <tr>
            <td>
              <img class="workerImg" src="" alt="image" />
            </td>
            <td>
              <input name="name" type="text" value="" />
            </td>
            <td>
              <input name="start_end_time" type="text" value="" />
            </td>
          </tr>

        </table>
        <button type="submit">Submit</button>
      </form>
    </div>
  </p>

</template>
