<template name="status">

  <div class="pushContent">
    <h4 class="stitle pull-left">
      Installing Product
    </h4>
    <a href="/updateStatus" class="statusLink pull-right" data-ignore="push">
      <button class="btn btn-positive btn-block">
        Update
      </button>
    </a>
    <div class="clear">
    </div>

    <ul class="table-view">
      <li class="table-view-cell">
        <strong>{{current_status.status}}</strong>
        <p>
          {{current_status.date_added}}
        </p>
        <small>
          {{current_status.comments}}
        </small>
        <br />
        {{#each current_status.photos}}
            <img class="photoImg" src="{{this}}" alt="" data-action="zoom" />
        {{/each}}
      </li>
    </ul>



    <ul class="table-view" style="margin-bottom:0px;">
      <li class="issueRow table-view-cell media reco-cell accordian-title icon icon-down" data-accordian-drawer="accordian-drawer-resolved-1">
        <span>
          Unresolved Issues ({{unresolvedSize}})
        </span>
      </li>
      <li id="accordian-drawer-resolved-1" class="issueRowDetail table-view-cell media reco-cell accordion-drawer closed">
        <ul class="table-view" style="border:none;margin-top:5px;margin-bottom:5px;">
          {{#each unresolved}}
          <li class="table-view-cell accordion-drawer-content">
            <h4 class="text-left reco-title h4title"> {{complaint}}</h4>
            <small> {{date_added}}</small>
          </li>
          {{/each}}

        </ul>
      </li>
    </ul>


<ul class="table-view" style="margin-bottom:0px;">
  <li class="issueRow table-view-cell media reco-cell accordian-title icon icon-down" data-accordian-drawer="accordian-drawer-resolved-0">
    <span>
      Resolved Issues ({{resolvedSize}})
    </span>
  </li>
  <li id="accordian-drawer-resolved-0" class="issueRowDetail table-view-cell media reco-cell accordion-drawer closed">
    <ul class="table-view" style="border:none;margin-top:5px;margin-bottom:5px;">
      {{#each resolved}}
      <li class="table-view-cell accordion-drawer-content">
        <h4 class="text-left reco-title h4title"> {{complaint}}</h4>
        <small> {{date_added}}</small>
      </li>
      {{/each}}

    </ul>
  </li>
</ul>



<ul class="table-view" style="margin-bottom:0px;">
  <li class="issueRow table-view-cell media reco-cell accordian-title icon icon-down" data-accordian-drawer="accordian-drawer-resolved-2">
    <span>
      Reviewed ({{reviewedSize}})
    </span>
  </li>
  <li id="accordian-drawer-resolved-2" class="issueRowDetail table-view-cell media reco-cell accordion-drawer closed">
    <ul class="table-view" style="border:none;margin-top:5px;margin-bottom:5px;">
      {{#each reviewed}}
      <li class="table-view-cell accordion-drawer-content">
        <h4 class="text-left reco-title h4title"> {{complaint}}</h4>
        <small> {{date_added}}</small>
      </li>
      {{/each}}

    </ul>
  </li>
</ul>

</div>

</template>
