<template name="status">

  <div class="pushContent">
    <h4 class="stitle pull-left">
      Status Installing Product
    </h4>
    <a href="/updateStatus" class="statusLink pull-right" data-ignore="push">
      <button class="btn btn-positive btn-block">
        Update
      </button>
    </a>
    <div class="clear">
    </div>

    <ul class="table-view">
      <li class="table-view-cell">
        <strong>{{current_status.status}}</strong>
        <p>
          {{current_status.date_added}}
        </p>
        <small>
          {{current_status.comments}}
        </small>
      </li>
    </ul>

    <h4 class="stitle">
      Resolved Issues
    </h4>
    <ul class="table-view" id="complaintsTable" style="margin-bottom:0px;">
      {{#each resolved}}
      <li class="issueRow table-view-cell media reco-cell accordian-title icon icon-down" data-accordian-drawer="accordian-drawer-resolved-{{@index}}">
        <span>
          {{complaint}}
        </span>
      </li>
      <li id="accordian-drawer-resolved-{{@index}}" class="issueRowDetail table-view-cell media reco-cell accordion-drawer closed">
        <ul class="table-view">
          <li class="table-view-cell accordion-drawer-content">
            <h4 class="text-left reco-title">Complaint</h4>
            <p> {{complaint}}</p>
            <small> {{date_added}}</small>
          </li>
        </ul>
      </li>
      {{/each}}
    </ul>

    <h4 class="stitle">
      Unresolved Issues
    </h4>
    <ul class="table-view" id="complaintsTable" style="margin-bottom:0px;">
      {{#each unresolved}}
      <li class="issueRow table-view-cell media reco-cell accordian-title icon icon-down" data-accordian-drawer="accordian-drawer-unresolved-{{@index}}">
        <span>
          {{complaint}}
        </span>
      </li>
      <li id="accordian-drawer-unresolved-{{@index}}" class="issueRowDetail table-view-cell media reco-cell accordion-drawer closed">
        <ul class="table-view">
          <li class="table-view-cell accordion-drawer-content">
            <h4 class="text-left reco-title">Complaint</h4>
            <p> {{complaint}}</p>
            <small> {{date_added}}</small>
          </li>
        </ul>
      </li>
      {{/each}}
    </ul>

    <h4 class="stitle">
      Reviewed Issues
    </h4>
    <ul class="table-view" id="complaintsTable">
      {{#each reviewed}}
      <li class="issueRow table-view-cell media reco-cell accordian-title icon icon-down" data-accordian-drawer="accordian-drawer-reviewed-{{@index}}">
        <span>
          {{complaint}}
        </span>
      </li>
      <li id="accordian-drawer-reviewed-{{@index}}" class="issueRowDetail table-view-cell media reco-cell accordion-drawer closed">
        <ul class="table-view">
          <li class="table-view-cell accordion-drawer-content">
            <h4 class="text-left reco-title">Complaint</h4>
            <p> {{complaint}}</p>
            <small> {{date_added}}</small>
          </li>
        </ul>
      </li>
      {{/each}}
    </ul>

  </div>

</template>
