<template name="updateStatus">
  <div class="pushContent">

    <p class="content-padded pushContent">
      <h4 class="stitle">
        Update Status
      </h4>
      <div class="sCard card">
        <form id="updateStatus">
          <label>
            Add comment
          </label>
          <textarea name="comments" class="commentBox"></textarea>
          <img class="photo" />
          <a href="#" class="takePhoto"><button class="btn btn-negative btn-block btn-outlined">Take Photo</button></a>
          <button class="btn btn-positive btn-block" type="submit">Submit</button>
        </form>
      </div>
    </p>
  </div>

</template>
