<template name="workers">
  <div class="pushContent">

    <h4 class="stitle pull-left">
      Workers
    </h4>
    <a href="/recordWorkHours" class="statusLink pull-right" data-ignore="push">
      <button class="btn btn-positive btn-block">
        Record Work Hours
      </button>
    </a>
    <div class="clear">
    </div>
    <div class="card">

      <ul class="table-view">
        {{#each workers}}
        <li class="table-view-cell">
          <img  src="{{photo}}" alt="photo" class="photoImg pull-left" />
          <div class="boxArea pull-left">
            <strong>{{name}}</strong>
            <strong>{{contact}}</strong>
            <br  />
            <small>
              {{emergency_contact_name}}
              {{emergency_contact_contact}}
            </small>
          </div>
          <div class="clear">
          </div>
        </li>

        {{/each}}
      </ul>
    </div>
  </div>

</template>
